<%- include("header") -%> <%- include("navbar", { active: "Characters" }) -%>

<main>
  <div class="container">
    <div class="row">
      <a class="btn btn-primary" href="/character/create" role="button">Create New Character</a>
    </div>
    <article class="row">
      <% for (const character of characters) { %>
      <section class="card col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card-body">
          <h5 class="card-title"><%= character.name %></h5>
          <p class="card-text">
            <%= character.race %> <br />
            <%= character.class %> <br />
            <%= character.level %>
          </p>
          <a href="/character/edit/<%= character.id %>" class="btn btn-warning">
            <i class="bi bi-pencil-square"></i>
          </a>
          <form method="post" action="/character/delete/<%= character.id %>" style="display: inline-block">
            <button type="submit" type="button" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </form>
        </div>
      </section>
      <% } %>
    </article>
  </div>
</main>

<%- include("footer") -%>
