<%- include("header") -%> <%- include("navigate_back", { name: "Character Creation", location: "/character/list" }) -%>

<main>
  <div class="container">
    <form class="row" method="post">
      <div class="col-12 col-lg-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="col-12 col-lg-6">
        <label for="race" class="form-label">Race</label>
        <input type="text" class="form-control" id="race" name="race" />
      </div>
      <div class="col-12 col-lg-6">
        <label for="class" class="form-label">Class</label>
        <input type="text" class="form-control" id="class" name="class" />
      </div>
      <div class="col-12 col-lg-6">
        <label for="level" class="form-label">Level</label>
        <input type="text" class="form-control" id="level" name="level" />
      </div>
      <div class="col-12 col-lg-6">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</main>

<%- include("footer") -%>
