<%- include("header") -%> <%- include("navigate_back", { name: "Character Edit", location: "/character/list" }) -%>

<main>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <form method="post">
          <div>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= character.name %>" />
          </div>
          <div>
            <label for="race" class="form-label">Race</label>
            <input type="text" class="form-control" id="race" name="race" value="<%= character.race %>" />
          </div>
          <div>
            <label for="class" class="form-label">Class</label>
            <input type="text" class="form-control" id="class" name="class" value="<%= character.class %>" />
          </div>
          <div>
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" name="level" value="<%= character.level %>" />
          </div>
          <div>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-8">
        <div class="container">
          <% if (equipments.length > character_equipments.length) { %>
          <form class="row" method="post" action="/character/edit/<%= character.id %>/equipment/add">
            <div class="col-10">
              <label for="equipment" class="form-label">Equipment</label>
              <select class="form-select" id="equipment" name="equipment_id">
                <% for (const e of equipments) { if (character_equipments.find((ce) => ce.id === e.id)) { continue; } %>
                <option value="<%= e.id %>"><%= e.name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-2">
              <label class="form-label">‎ </label>
              <div>
                <button type="submit" class="btn btn-success" id="add">Add</button>
              </div>
            </div>
          </form>
          <% } %>
          <div class="row">
            <table class="table col-12">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Weight</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% for (const equipment of character_equipments) { %>
                <tr>
                  <td><%= equipment.name %></td>
                  <td><%= equipment.cost %></td>
                  <td><%= equipment.weight %></td>
                  <td>
                    <form method="post" action="/character/edit/<%= character.id %>/equipment/remove/<%= equipment.id %>">
                      <button type="submit" type="button" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("footer") -%>
