<%- include("header") -%> <%- include("navbar", { active: "Equipment" }) -%>

<main>
  <div class="container">
    <div class="row">
      <a class="btn btn-primary" href="/equipment/create" role="button">Create New Equipment</a>
    </div>
    <article class="accordion" id="accordion">
      <% for (const equipment of equipments) { %>
      <section class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%= equipment.id %>"
            aria-expanded="false"
            aria-controls="collapse<%= equipment.id %>"
          >
            <%= equipment.name %>
          </button>
        </h2>
        <div id="collapse<%= equipment.id %>" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-10">
                  Cost: <strong><%= equipment.cost %></strong> Weight: <strong><%= equipment.weight %></strong> <br />
                  <%= equipment.description %>
                </div>
                <div class="col-12 col-lg-2">
                  <a href="/equipment/edit/<%= equipment.id %>">
                    <button type="button" class="btn btn-warning">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </a>
                  <form method="post" action="/equipment/delete/<%= equipment.id %>" style="display: inline-block">
                    <button type="submit" type="button" class="btn btn-danger">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% } %>
    </article>
  </div>
</main>

<%- include("footer") -%>
