<%- include("header") -%> <%- include("navigate_back", { name: "Equipment Creation", location: "/equipment/list" }) -%>

<main>
  <div class="container">
    <form class="row" method="post">
      <div class="col-12 col-lg-4">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="col-12 col-lg-4">
        <label for="cost" class="form-label">Cost</label>
        <input type="text" class="form-control" id="cost" name="cost" />
      </div>
      <div class="col-12 col-lg-4">
        <label for="weight" class="form-label">Weight</label>
        <input type="text" class="form-control" id="weight" name="weight" />
      </div>
      <div class="col-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
</main>

<%- include("footer") -%>
