<%- include("header") -%> <%- include("navbar", { active: "Home" }) -%>

<main>
  This site is a web application that makes it easy to manage equipment and characters. <br />
  Equipment pieces can be created, updated, and deleted. <br />
  Characters can be created, updated, and deleted. <br />
  Characters" equipment can be freely modified. <br />
</main>

<%- include("footer") -%>
