<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"> <%= active %> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if (active == "Home") { %>
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <% } else { %>
          <a class="nav-link" href="/">Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (active == "Equipment") { %>
          <a class="nav-link active" aria-current="page" href="/equipment/list">Equipment</a>
          <% } else { %>
          <a class="nav-link" href="/equipment/list">Equipment</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if (active == "Characters") { %>
          <a class="nav-link active" aria-current="page" href="/character/list">Characters</a>
          <% } else { %>
          <a class="nav-link" href="/character/list">Characters</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
