<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= location %>">
      <i class="bi bi-arrow-left"></i>
      <%= name %>
    </a>
  </div>
</nav>
